version: '3'

services:
  fhir:
    depends_on:
      - mongo
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SERVER_PORT: 3000
      MONGO_HOSTNAME: mongo
      RESOURCE_SERVER: http://localhost:3000/
      AUTH_SERVER_URI: http://myauthzserver.com
      CLIENT_ID: client
      CLIENT_SECRET: secret
      INTROSPECTION_URL: https://myauthzserver.com/introspect
    ports:
      - '3000:3000'
    volumes:
      - ./src:/srv/src
    command: yarn nodemon

  mongo:
    image: mongo:5.0.5
    ports:
      - '27017'
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
