<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="<%= url %>"><%= url %></a>
        <p class="">&copy; Copyright 2021 b.well Connected Health</p>
    </div>
</nav>
<script src="/js/bootstrap.min.js"></script>
