<footer class="px-3 p-1 d-flex border-top">
    <ul class="pagination flex-grow-1 mb-1">
        <% if(typeof(hasPrev) !== "undefined" && (hasPrev || hasNext)) { %>
        <li class="page-item<%= !hasPrev ? ' disabled' : '' %>">
            <button type="button" class="page-link" id="lnkPrevious">Previous</button>
        </li>
        <li class="page-item<%= !hasNext ? ' disabled' : '' %>">
            <button type="button" class="page-link" id="lnkNext">Next</button>
        </li>
        <% } %>
    </ul>
    <div class="small text-end pt-2">
        &copy; Copyright <%= currentYear %> b.well Connected Health
    </div>
</footer>

<script type="text/javascript" src="/js/footernav.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
