<nav className="navbar navbar-expand-lg navbar-light bg-light">
<!--     <a className="navbar-brand" href="/">EJS Is Fun</a> -->
<!--     <ul className="navbar-nav mr-auto"> -->
<!--         <li className="nav-item"> -->
<!--             <a className="nav-link" href="/">Home</a> -->
<!--         </li> -->
<!--         <li className="nav-item"> -->
<!--             <a className="nav-link" href="/about">About</a> -->
<!--         </li> -->
<!--     </ul> -->
</nav>
