<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="/images/helix.png" height="64px" />
        <a class="navbar-brand"><h2>Helix FHIR Server</h2></a>
        <form class="d-flex">
          <button id="btnLogout" class="btn btn-success" onclick="doLogout()">
          <i class="bi bi-arrow-bar-right"></i>
          Logout</button>
        </form>
    </div>
</nav>

