<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="/images/helix.png" height="32px" />
        <a class="navbar-brand">Helix FHIR Server</a>
        <form class="d-flex">
          <button id="btnLogout" class="btn btn-success" onclick="doLogout()">Logout</button>
        </form>
    </div>
</nav>
