<nav class="navbar px-3 pt-2">
    <a href="/" title="Go to Home Page" class="px-3"><img src="/images/helix.png" height="64px" /></a>
    <a class="navbar-brand text-dark flex-grow-1"><h2>Helix FHIR Server <% if (locals.environment) { %> (<%= environment %>)<% } %></h2></a>
    <% if (locals.environment) { %>
      <button id="btnLogout" class="btn btn-success">
        <i class="fa fa-sign-out"></i>
        Logout
      </button>
      <script type="text/javascript" src="/js/authhandler.js"></script>
    <% } %>
</nav>
