<% if (periods) { %>
<div>
    <h4><%= name %></h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Start</th>
          <th scope="col">End</th>
        </tr>
      </thead>
      <tbody>
    <% periods.forEach(function(period){ %>
        <% if (period) {%>
        <tr>
          <td><%= period.start %></td>
          <td><%= period.end %></td>
        </tr>
        <%}%>
    <%})%>
      </tbody>
    </table>
</div>
<%}%>
